* {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	color: rgb(107, 107, 107);
	text-align: center;
}

#container {
	display: flex;
	height: 150px;
	min-width: 1400px;
}

.header-wrap {
	background: #E6E6E6;
	width: 250px;
	height: auto;
	min-height: 650px;
	font-size: 17px;
	font-weight: bold;
	color: rgb(107, 107, 107);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.admin-info {
	height: 96px;
	width: 100%;
	display: flex;
	align-items: center;
	padding: 10px;
	box-sizing: border-box;
	font-weight: bold;
}

.thumbnail {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 60px;
	height: 60px;
	background-color: #adb5bd;
	border-radius: 50%;
	margin-right: 15px;
}

.admin-logo-img {
	width: 40px;
	text-align: center;
}

.admin {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: bold;
}

p {
	margin: 0;
}

.menu-ul {
	width: 100%;
	padding: 0;
}

ul>li {
	width: 100%;
	padding: 27px 71px;
	display: flex;
	justify-content: center;
	align-items: center;
}

li:hover {
	background-color: #fff;
}

.active {
	background-color: #fff;
}